.filters-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.filters-form--grop {
}
.filters-form--label {
}
.filters-form--select {
  width: 200px;
  padding: 6px;
  border-radius: 5px;
}
.filters-form-grop {
}
.filters-form--input {
  width: 200px;
  padding: 6px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;
}
