<div class="container">
  <h3 class="title">Filters</h3>
  <form class="filters-form">
    <select class="filters-form--select" name="type">
      <option value="type" selected disabled hidden>Type</option>
      <option value="all">All</option>
      <option value="income">Income</option>
      <option value="expense">Expense</option>
    </select>

    <select class="filters-form--select" name="category" id="category">
      <option value="category" selected disabled hidden>Category</option>
    </select>

    <input
      class="filters-form--input"
      name="search"
      type="text"
      placeholder="Search"
    />
  </form>
</div>
